<h1>Edit Dinosaur</h1>

<form action="/dinos" method="post">
  <input type="hidden" name="_method" value="put">

  <label for="dino_description">Description</label>
  <input type="text" name="dino[description]" id="dino_description" value="<%= dino.description %>">

  <label for="dino_name">Name</label>
  <input type="text" name="dino[name]" id="dino_name" value="<%= dino.name %>">

  <label for="dino_age">Age</label>
  <input type="text" name="dino[age]" id="dino_age" value="<%= dino.age %>">

  <label for="dino_species">Species</label>
  <input type="text" name="dino[species]" id="dino_species" value="<%= dino.species %>">

  <label for="dino_image">Image</label>
  <input type="text" name="dino[image]" id="dino_image" value="<%= dino.image %>">

  <label for="dino_single">Single?</label>
  <input type="text" name="dino[single]" id="dino_single" value="<%= dino.single %>">

  <label for="dino_likes">Likes</label>
  <input type="text" name="dino[likes]" id="dino_likes" value="<%= dino.likes %>">

  <button>Update</button>
</form>
