<%= form_for(location) do |f| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :city_country %>
    <%= f.text_field :city_country %>
  </div>

  <div class="field">
    <%= f.label :approx_cost %>
    <%= f.text_field :approx_cost %>
  </div>

  <div class="field">
    <%= f.label :best_time_to_visit %>
    <%= f.text_field :best_time_to_visit %>
  </div>

  <div class="field">
    <%= f.label :sun_venue %>
    <%= f.check_box :sun_venue %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.text_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
