<p id="notice"><%= notice %></p>

<h1>Locations</h1>

<table>
  <thead>
    <tr>
      <th>City country</th>
      <th>Approx cost</th>
      <th>Best time to visit</th>
      <th>Sun venue</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
    <tr>
      <td><%= location.city_country %></td>
      <td><%= location.approx_cost %></td>
      <td><%= location.best_time_to_visit %></td>
      <td><%= location.sun_venue %></td>
      <td><%= image_tag location.image, width: 100 %></td>
      <td><%= link_to 'Show', location %></td>
      <% if logged_in? %>
      <td><%= link_to 'Edit', edit_location_path(location) %></td>
      <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %>
