<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Retailer:</strong>
  <%= @product.retailer.try(:name) %>
</p>

<p>
  <strong>Image:</strong>
  <%= link_to image_tag @product.image, size: 200 %>
</p>

<p>
  <strong>Price at purchase:</strong>
  <%= @product.price_at_purchase %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
